<header>
  <div class="image-text">
    <span class="image">
      <img class="logo-img" src="images/logo.png" alt="logo">
    </span>

    <div class="text header-text">
      <span class="name">Customer</span>
      <span class="profession">bulletin board</span>
    </div>
  </div>
  <i class='bx bx-chevron-right toggle'></i>
</header>
<div class="menu-bar">
  <div class="menu">
    <ul class="menu-links">
      <li class="search-box display-none" id="search_notice_div">
        <i class='bx bx-search-alt-2 icon'></i>
        <input class="search-input" id="search_notice" type="search" placeholder="Search...">
      </li>
      <li class="nav-link" id="mainPage_li">
        <a class="nav-a" href="index.html" id="mainPage">
          <i class='bx bx-home-alt icon'></i>
          <span class="nav-text">
            고객사 게시판
          </span>
        </a>
      </li>
      <li class="nav-link" id="customer_li">
        <a class="nav-a" href="customer.html" id="customer">
          <i class='bx bx-buildings icon'></i>
          <span class="nav-text">
            고객사 관리
          </span>
        </a>
      </li>
      <li class="nav-link" id="user_page_li">
        <a class="nav-a" href="user.html" id="user_page">
          <i class='bx bx-user icon'></i>
          <span class="nav-text">
            사용자 관리
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="bottom-content">

    <li class="nav-link">
      <a class="nav-a" href="#" id="btn_logout">
        <i class='bx bx-log-out icon'></i>
        <span class="nav-text text">Logout</span>
      </a>
    </li>

    <li class="mode">
      <div class="moon-sun">
        <i class='bx bx-moon icon moon' ></i>
        <i class='bx bx-sun icon sun' ></i>
      </div>
      <span class="mode-text text">Dark Mode</span>
      <div class="toggle-switch">
        <span class="switch"></span>
      </div>
    </li>

  </div>
</div>