<div class="w-full">
  <div class="card">
    <div class="card-header p-4 bg-white flex items-center justify-between">
      <h5 class="text-lg md:text-xl font-bold">회원 정보</h5>
      <div class="flex items-center gap-2">
        <button class="btn btn-primary btn-sm" id="btn_sign_admin_popup">회원 추가</button>
        <button class="btn btn-danger btn-sm" id="btn_check_del_member">선택삭제</button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table text-nowrap" id="member_table">
          <thead class="table-light">
            <tr>
              <th class="text-center"></th>
              <th class="text-center">번호</th>
              <th class="text-center">아이디</th>
              <th class="text-center">이름</th>
              <th class="text-center">고객사명</th>
              <th class="text-center">승인상태</th>
              <th class="text-center">가입일</th>
              <th class="text-center">최근 로그인 일시</th>
            </tr>
          </thead>
          <tbody id="member_list">
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>