<div class="nav-scroller">
  <!-- Brand logo -->
  <a class="navbar-brand text-white font-bold" href="index.html">
    WEBZINE_MAKE
  </a>
  <!-- Navbar nav -->
  <div class="flex px-5 items-center justify-between pb-3" style="border-bottom: 1px solid #fff;">
    <p class="text-white" id="customer_name">한국표준협회</p>
  </div>
  <ul class="navbar-nav flex-column" id="sideNavbar">
    <!-- Nav item -->
    <li class="nav-item">
      <a class="nav-link collapsed nav-text-custom" id="btn_webzine_list_page" data-page="webzine_list" href="#!">
        웹진관리
      </a>
    </li>
    <!-- Nav item -->
    <li class="nav-item">
      <a class="nav-link nav-text-custom" href="#!" id="btn_grap_page" data-page="webzine_list">
        유입통계
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text-custom" href="#!" id="btn_template_page" data-page="template_page">
        탬플릿 관리
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text-custom" href="#!" id="btn_customer_page" data-page="customer_page">
        기본 정보 관리
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text-custom" href="#!" id="btn_member_page" data-page="member_page">
        회원정보 관리
      </a>
    </li>
  </ul>
</div>