<div class="w-full">
  <input type="hidden" id="idx">
  <h2 class="text-2xl font-bold mb-5">설정된 탬플릿 정보</h2>
  <div class="mb-5">
    <div class="border w-full p-3">
      <div class="row items-start mb-4">
        <label for="webzine_name" class="col-12 col-md-2 col-form-label
            form-label text-muted">상단 로고</label>
        <div class="col-12 col-md-10" id="header_logo"></div>
      </div>
      <div class="row items-start mb-4">
        <label for="webzine_name" class="col-12 col-md-2 col-form-label
            form-label text-muted">하단 로고</label>
        <div class="col-12 col-md-10" id="footer_logo"></div>
      </div>
      <div class="row items-center mb-4">
        <label for="webzine_name" class="col-12 col-md-2 col-form-label
            form-label text-muted">플로팅메뉴</label>
        <div class="col-12 col-md-10" id="floating_active"></div>
      </div>
      <div class="row items-start mb-4">
        <label for="webzine_name" class="col-12 col-md-2 col-form-label
            form-label text-muted">하단정보</label>
        <div class="col-12 col-md-10" id="footer_info"></div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mx-auto block w-fit" id="btn_option_update_page">옵션 수정하기</button>
</div>