<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">회원가입</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

  <div class="row mb-2 items-center mb-3">
    <label for="mem_id" class="col-12 col-md-2 col-form-label
        form-label text-muted">아이디</label>
    <div class="col-12 col-md-10">
      <input type="text" id="mem_id" maxlength="20" class="form-control" placeholder="아이디를 입력하세요." required="">
    </div>
  </div>

  <div class="row mb-2 items-center mb-3">
    <label for="mem_password" class="col-12 col-md-2 col-form-label
        form-label text-muted">비밀번호</label>
    <div class="col-12 col-md-10">
      <input type="password" id="mem_password" maxlength="20" class="form-control" placeholder="비밀번호를 입력하세요." required="">
    </div>
  </div>

  <div class="row mb-2 items-center mb-3">
    <label for="mem_password_check" class="col-12 col-md-2 col-form-label
        form-label text-muted">비밀번호 확인</label>
    <div class="col-12 col-md-10">
      <input type="password" id="mem_password_check" maxlength="20" class="form-control" placeholder="비밀번호를 입력하세요." required="">
    </div>
  </div>

  <div class="row mb-2 items-center mb-3">
    <label for="mem_password_check" class="col-12 col-md-2 col-form-label
        form-label text-muted">비밀번호 확인</label>
    <div class="col-12 col-md-10">
      <input type="password" id="mem_password_check" maxlength="20" class="form-control" placeholder="비밀번호를 입력하세요." required="">
    </div>
  </div>

  <div class="row mb-2 items-center mb-3">
    <label for="mem_name" class="col-12 col-md-2 col-form-label
        form-label text-muted">회사명</label>
    <div class="col-12 col-md-10">
      <input type="password" id="mem_name" maxlength="20" class="form-control" placeholder="회사명을 입력하세요." required="">
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" id="btn_sign_in">회원가입</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
</div>