<div class="w-full px-10 py-8">
  <div class="w-full">
    <div class="mb-5 flex items-center">
     <div class="w-1/2 flex flex-column justify-center">
        <h2 class="mb-2 text-2xl">타이틀</h2>
        <p class="text-sm">서브타이틀 및 내용</p>
     </div>
     <div class="w-1/2 py-15 bg-gray-600"></div>
    </div>
    <div class="mb-5 flex items-center">
      <div class="w-1/2 py-15 bg-gray-600"></div>
      <div class="w-1/2 flex flex-column justify-center px-5">
          <h2 class="mb-2 text-2xl">타이틀</h2>
          <p class="text-sm">서브타이틀 및 내용</p>
      </div>
    </div>
  </div>
</div>