<div class="w-full px-10 mb-8">
  <div class="w-full flex items-center justify-center gap-5">
    <div class="flex flex-column items-center justify-center w-fit">
      <div class="sec-2-cir mb-3"></div>
      <h2 class="text-lg font-bold mb-2">타이틀</h2>
      <p class="text-sm">내용</p>
    </div>
    <div class="flex flex-column items-center justify-center w-fit">
      <div class="sec-2-cir mb-3"></div>
      <h2 class="text-lg font-bold mb-2">타이틀</h2>
      <p class="text-sm">내용</p>
    </div>
    <div class="flex flex-column items-center justify-center w-fit">
      <div class="sec-2-cir mb-3"></div>
      <h2 class="text-lg font-bold mb-2">타이틀</h2>
      <p class="text-sm">내용</p>
    </div>
  </div>
</div>