<div class="md:container mx-auto px-10 md:px-0 py-10 md:py-15">
  <img class="block w-36 cursor-pointer mb-5" id="footer_logo" src="https://100gomidesign.com/web/upload/_awesome_skin/layout/main_logo.png" alt="로고">
  <ul>
    <li class="text-sm md:text-lg">서울시 강남구 봉은사로 321 대화빌딩 3층 | 대표 : 배지은 | 전화 : 02-6012-0007</li>
    <li class="text-sm md:text-lg">상호 : 애드아이티 | 사업자등록번호 : 5271102173 | 통신판매업 신고 : 2023-부산금정-0302호 <a href="#">[사업자정보확인]</a></li>
    <li class="text-sm md:text-lg mb-3">개인정보보호책임자 : 배지은(100gomidesign@naver.com)</li>
    <li class="text-sm md:text-lg">COPYRIGHTⓒ Addit INC. All right reserved</li>
  </ul>
</div>